.container {
  position: relative;
  display: inline-block;
}

.menuButton {
  padding: 0;
  width: 50px;
  border: 0;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
}

.dropdown {
  position: absolute;
  top: 3.5rem;
  right: -1rem;
  width: 200px;
  padding: 0.5rem;
  z-index: 2;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.input {
  border-radius: 5px 0px 0px 5px;
  height  : 1.5rem;
  padding : 0.5rem;
  width: 175px;
}

.input:placeholder-shown {
  font-style: italic; 
}

.submitButton {
  height: 2.5rem;
}

.show {
  height: 200px;
  transform: translateY(0);
  animation: growDown 300ms ease-in-out forwards;
}

.hide {
  height: 0;
  animation: growUp 300ms ease-in-out forwards;
}

/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* .menuIcon {
   padding-left: 0.5rem;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.8rem;
  padding: 0;
  position: absolute;
  top: 3rem;
  right: -1.3rem;
  min-width: 140px;
  height: auto;
  list-style-type: none;
  transform-origin: top right;
  background-color: #373737;
}

.dropdown li {
  margin: 0rem;
  padding: 0.5rem;
  background-color: #373737;
  text-align: center;
  width: 100%;
}

.dropdown li + li:hover {
  background-color: #646464;
  cursor: pointer;
  pointer-events: auto;
  touch-action: manipulation;
}

.dropdown .userbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #646464;
  border-radius: 5px;
}

.dropdown .userlabel {
  background-color: #646464;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.dropdown .username {
  background-color: #646464;
  margin: 0;
  width: 100%;
  padding-top: 5px;
  font-weight: bold;
}

.dropdown li button {
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  width: 100%;
} */

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

@keyframes growUp {
  0% {
      transform: scaleY(1)
  }
  100% {
      transform: scaleY(0)
  }
}
