.topbar {
  display                   : flex;
  align-content             : space-between;
  justify-content           : center;
}

.start {
  padding                   : 0 1rem;
}

.mid {
  flex-grow                 : 1;
  align-self                : center;
}

.end {
  display                   : flex;
  align-items               : center;
  padding                   : 0 1rem;
}

.logo {
  height: 3rem;
  border-radius: 30px;
  vertical-align: middle;
}
